* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #b4eaf7;
  --color: #29798e;
  --light-gray: #f6f6f6;
  --gray: #aaaaaa;
  --red: #e15d5d;

  font-size: 60%;
}

@media (max-width: 720px) {
  :root {
    font-size: 53.5%;
  }
}

body {
  background-color: var(--gray-900);
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Comfortaa", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
