.container {
  display: flex;

  .formContainer {
    width: 100%;
    max-width: 60rem;
    height: 100vh;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--white);

    form {
      width: 100%;
      max-width: 32rem;

      margin-top: 4rem;
    }

    .signUpText {
      font-size: 1.2rem;
      line-height: 1.3rem;

      color: var(--dark-gray);

      display: block;

      margin-top: 1.6rem;

      a {
        text-decoration: none;
        color: var(--red);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
