.container {
  max-width: 1100px;

  margin: auto;
  padding: 0 1.6rem;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2rem;

    color: var(--gray);

    margin: 3.4rem 0 2.3rem;
  }

  form {
    width: fit-content;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    fieldset {
      max-width: 32rem;
      border: none;

      .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;

        margin-top: 1.6rem;

        > div {
          margin-top: 0;
        }
      }
    }

    @media (max-width: 680px) {
      margin: auto;
      grid-template-columns: 1fr;
    }
  }
}
